$include /etc/inputrc # Přenáší nastavení ze systemového `.inputrc`

# Editing mode settings

set editing-mode vi
set keymap vi

# Toto patří buď do `.bashrc` nebo do `inputrc` (pak to ale ovlivní všechny shells; resp. všechny programy, které používají `readline` pro input.
# Odkaz: https://unix.stackexchange.com/questions/4870/is-it-possible-to-have-vim-key-bindings-in-terminal
set show-mode-in-prompt on
set vi-ins-mode-string "[I]"
set vi-cmd-mode-string "[N]"

# History search keybinds

"\C-b":history-search-backward # asi nefunguje
"\C-f":history-search-forward # asi nefunguje

#"\C-p":history-search-backward and "\C-n":history-search-forward: These two lines set Ctrl-P/Ctrl-N to search backward/forward through the history for the string of characters between the start of the current line and the current cursor position.

set colored-stats On # This line sets readline to display possible completions using different colors to indicate their file types. The colors are determined by the environmental variable LS_COLORS
set completion-ignore-case On # This line sets auto completion to ignore cases.
set show-all-if-ambiguous On # This line sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion.
set show-all-if-unmodified On # This line sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion but no partial completion can be made.
