[Unit]
Description=Schedule a log every month
RefuseManualStart=false # Allow manual starts
RefuseManualStop=false # Allow manual stops

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
OnCalendar=monthly
#File describing job to execute
Unit=helloSystemD.service

[Install]
WantedBy=timers.target
